[submodule "GLFW"]
	path = Project/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "GLM"]
	path = Project/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "ImGui"]
	path = Project/external/imgui
	url = https://github.com/ocornut/imgui.git
